version: "3.3"

services:
  nginx:
    image: nginx
    container_name: nginx
    volumes: 
      - ./:/usr/src/app
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports: 
      - 80:80
    networks:
      - my_network
    depends_on:
      - flask
  flask:
    build: 
      context: ./
      dockerfile: Dockerfile
    container_name: flask
    command: gunicorn --bind 0.0.0.0:8000 --workers 4 "ConversionApp:app"
    volumes: 
      - ./:/usr/src/app
    networks:
      my_network:
        aliases:
          - flask_app

networks: 
  my_network:




