<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Engineering Conversion</title>
  </head>

  <body>
    <h1 class="header" > ENGINEERING CONVERSION </h1>

    <div class="row">
      <div class="box1 column">
        {% if error_message %}
          {{error_message | safe}}
        {% else %}
          
        {% endif %}
      </div>

      <div class="box2 column">
        UNIT
      </div>
      
      <div class="box3 column">
      
      </div>

      <div class="box4 column">
      
      </div>

      <div class="box5 column">
        UNIT
      </div>
    </div>

    {%  for key, value in conv_factor.items()  %}
    <form action="/Convert" method="POST">
      <div class="row">
        <input name="factor_id" value="{{key}}" type="hidden">  </input>
        <div class="box1 column">
          {% if value_to_convert_dict %}
            <input name="value_to_convert" value="{{value_to_convert_dict[key] | safe}}" type="text" class="input">  </input>
          {% else %}
            <input name="value_to_convert" value="1.00" type="text" class="input">  </input>
          {% endif %}
        </div>

        <div class="box2 column">
          {{value[0] | safe}}
        </div>
        
        <div class="box3 column">
          <input type="submit" class="button" value="CONVERT">  </input>
        </div>

        <div class="box4 column">
          {% if value_to_return_dict %}
            <div type="text" class="input"> {{value_to_return_dict[key] | safe}} </div>
          {% else %}
            <div type="text" class="input"> {{value[1] | float(value[1])}} </div>
          {% endif %}
        </div>

        <div class="box5 column">
          {{value[2] | safe}}
        </div>
      </div>
    </form>
    {% endfor %}

  </body>

  <footer class ="footer">
    <a href="https://www.vecteezy.com/free-vector/engineering-background">Engineering Background Vectors by Vecteezy</a>
  </footer>
</html>